h1 {
    color: red;
    font-size: 300%;
    text-align: center;
    font-family: "lmkm";

}

img {
    width: 10%;
    /* align-self: center; */

}

p {
    text-align: center;
    font-family: "lmkm";
    font-size: 100%;
}

@font-face {
    font-family: "lmkm";
    src: url("./Tenbitesch.ttf") format('truetype');
}

body {
    background-color: rgb(255, 209, 209);

}

#image {
    text-align: center;
}